body {
    /* background-image: url(https://images.pexels.com/photos/281260/pexels-photo-281260.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=650&w=940); */
    
    background: url("https://image.freepik.com/free-vector/gradient-dynamic-purple-lines-background_23-2148995757.jpg");
    height: 100vh;
    background-repeat: no-repeat;
    background-size: cover;
  }
  /* footer{ 
      height:auto;
      width: 100%;
  } */
  .login-register{
      height:auto;
      width:auto;
  }
  .auth {
    float: left;
    height: auto;
    width: auto;
  }
  .register-title,
  .login-title {
    margin: 10px;
  }
  .register {
    font-family: "Ubuntu", sans-serif;
    font-weight: 400;
    border: 5px solid;
    border-color: #6c5ce7;
    text-align: center;
    color: black;
    background-color: white;
    height: auto;
    width: 400px;
    padding: 10px;
    border-radius: 15px;
    box-shadow: rgb(38, 57, 77) 0px 20px 30px -10px;
    margin-left: 200px;
    margin-top: 70px;
  }
  
  .login {
    font-family: "Ubuntu", sans-serif;
    font-weight:400;
    border: 5px solid;
    border-color: #6c5ce7;
    text-align: center;
    background-color: white;
    color: black;
    height: auto;
    float: right;
    position: static;
    width: 400px;
    padding: 25px;
    border-radius: 15px;
    box-shadow: rgb(38, 57, 77) 0px 20px 30px -10px;
    margin-top: 110px;
    margin-left: 200px;
  }
  
.btn-register, .btn-login{
  height: auto;
  width: auto;
  padding: 5px;
  font-size:18px;
  border-radius:5px;
  background-color: #a29bfe;
  color: #fff;
  font-family: 'Ubuntu', sans-serif;
  transition: all !important;
   transition-duration: 0.3s !important;
   transition-timing-function: linear !important;
   border: none !important;
}

.btn-login:hover, .btn-register:hover{
  background-color: #fff !important;
  color: #a29bfe !important;
  border: 0.5px solid #a29bfe !important;
  border-color: #a29bfe !important;
}


  .form-control {
    /* background-color: #3EDBF0 !important; */
    outline: none !important;
    border: none !important;
    font-family: "Urbanist", sans-serif !important;
  }
  
  .form-control:hover {
    box-shadow: rgba(0, 0, 0, 0.06) 0px 2px 4px 0px inset;
  }
  
  .nav-item {
    font-family: "Urbanist", sans-serif !important;
  }