.fluid-conatiner {
  float: right;
  margin-right: 100px;
  margin-top: 40px;
}



.home {
  min-height: 100vh;
  position: fixed;
}

.container-1-b {
  float: left;
  font-family: "Ubuntu", sans-serif;
  font-weight: 500;
  font-size: 5rem;
  color: white;
  padding: 20px;
  margin-left: 100px;
  margin-top: 100px;
  line-height: 1.15;
  text-shadow: 0px 4px 3px rgba(0, 0, 0, 0.4), 0px 8px 13px rgba(0, 0, 0, 0.1),
    0px 18px 23px rgba(0, 0, 0, 0.1);
}

.container-2 {
  position: absolute;
  margin-left: 150px;
  margin-top: 350px;
  /* background-color:white; */
  /* padding: 25px; */
}

.container-2-a {
  float: left;
  margin: 50px;
}

.btn-home {
  -webkit-border-radius: 5px !important;
  -moz-border-radius: 5px !important;
  border-radius: 10px !important;
  font-family: "Ubuntu", sans-serif !important;
  color: #ffffff !important;
  font-size: 18px !important;
  background: black !important;
  padding: 10px 20px 10px 20px !important;
  text-decoration: none !important;
  box-shadow: rgba(0, 0, 0, 0.16) 0px 1px 4px !important;
  transition: all !important;
  transition-duration: 0.3s !important;
  transition-timing-function: linear !important;
}

.btn-home:hover {
  background: white !important;
  color: #6c5ce7 !important;
  box-shadow: rgba(0, 0, 0, 0.06) 0px 2px 4px 0px inset !important;
}
.container-2-b {
  float: right;
  margin: 20px;
}

.animation {
  top: 0;
  left: 0;
  background: white;
  height: 100%;
  width: 100%;
  display: flex;
  position: fixed;
  background-image: url("https://image.freepik.com/free-vector/gradient-dynamic-purple-lines-background_23-2148995757.jpg");
  /* background-color: #6c5ce7; */
  background-size: cover;
  text-align: center;
  justify-content: center;
  /* background-color: #0984e3; */
  color: white;
  background-repeat: no-repeat;
  background-size: cover;
  /* background: url("./assets/5559852.jpg"); */
  /* transform: translateY(-100%) */
}

.slider {
  top: 0;
  left: 0;
  background: white;
  position: fixed;
  height: 100%;
  width: 100%;
  display: flex;
  position: fixed;
  text-align: center;
  justify-content: center;
  border-radius: 0 0 20px 20px;

  background-image: url("https://image.freepik.com/free-vector/gradient-dynamic-purple-lines-background_23-2148995757.jpg");
  /* background-color: #6c5ce7; */
  background-size: cover;
  background-repeat: no-repeat;
  color: white;
  transform: translateY(100%);
}

/* .hide{
    background-color: #0984e3;
    overflow: hidden;
} */

.hide {
  margin-top: 150px;
  font-size: 6rem;
  background-repeat: no-repeat;
  background-size: cover;
  /* background: url("./assets/5559852.jpg"); */
  font-family: "Ubuntu", sans-serif;
  transform: translateY(100%);
  display: inline-block;
  text-shadow: 0px 3px 0px #b2a98f, 0px 14px 10px rgba(0, 0, 0, 0.15),
    0px 24px 2px rgba(0, 0, 0, 0.1), 0px 34px 30px rgba(0, 0, 0, 0.1);
}

.slider-text {
  text-align: center;
  margin-top: 300px;
  font-size: 6rem;
  font-family: "Poppins", sans-serif;
  text-shadow: 0px 3px 0px #b2a98f, 0px 14px 10px rgba(0, 0, 0, 0.15),
    0px 24px 2px rgba(0, 0, 0, 0.1), 0px 34px 30px rgba(0, 0, 0, 0.1);
}
