*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.main2{
  width: 100%;
  height: 100%;
  position: relative;
}
.centre-left{
    position: absolute;
    height: auto;
    width: 500px;
    box-shadow: rgb(38, 57, 77) 0px 20px 30px -10px;
    padding: 50px;
    text-align: center;
    margin: 25px 25px 25px 150px;
    background-color: rgb(46, 46, 46);
    border-radius: 20px;   
    font-family: 'Ubuntu', sans-serif;
}
#cam{
 color: white;
 margin: 25%;
}
.centre-right{
position: static;
margin-top:100px;
font-family: 'Ubuntu', sans-serif;
color: white;
background-color:white;
margin-right: 100px;
text-align: center;
float: right;
width: auto;
padding:25px 50px 25px 25px;
height: 200px;
background-color:#6c5ce7;
box-shadow: rgb(38, 57, 77) 0px 20px 30px -10px;
border-radius: 20px;
}

.message-wait{
  font-size: 25px;
}

#ask{
border: 2px solid rgba(128, 128, 128, 0);
width:9vw;
  height: 8vh;
  border-radius: 10px;
  color: white;
  background-color: rgb(4, 143, 120);
  font-weight: 600;
  margin-left: 25px;
  margin-top: 15px;
  background-color: #a29bfe;
  transition: all !important;
   transition-duration: 0.3s !important;
   transition-timing-function: linear !important;
}

#ask:hover{
  color: #a29bfe !important;
  background-color: white;
}

#side{
  position: absolute;
  left: 80vw;
}
#acc{
  position: absolute;
  left: 94vw;
}
#presentit{
  border: 2px solid rgba(128, 128, 128, 0);
  margin-left: 10px;
  width:9vw;
  height: 8vh;
  background-color:#a29bfe;
  border-radius: 10px;
  color: white;
  font-weight: 600;
  margin-left: 25px;
  margin-top: 15px;
  transition: all !important;
  transition-duration: 0.3s !important;
  transition-timing-function: linear !important;
}

#presentit:hover{
  color: #a29bfe !important;
  background-color: white;
}

#callof{
  color: #ff7675;
  font-size: 50px;
  margin-top: 25px;
  margin-left: 10px;
}
#vdc{
  color: #ff7675;
  font-size: 50px;
  margin-top: 25px;
  margin-left: 100px;
}