html,
body {
  height: 100%;
  background-color: #83bff7;
  display: flex;
  flex-direction: column;
  background-image: url("https://image.freepik.com/free-vector/gradient-dynamic-purple-lines-background_23-2148995757.jpg");
}

.container-fluid {
  padding: 1% 1%;
  background-color: #104b9c;
}

.navigationBar {
  font-weight: bolder;
}

.navigationBrand {
  font-family: "Ubuntu", sans-serif;
  font-size: 2rem;
  font-weight: bold;
}

.nav-item {
  padding: 0 18px;
  color: #000;
}

.nav-link {
  font-size: 1.2rem;
  font-family: "Ubuntu", sans-serif;
  color: black;
}
.col-sm-10 {
  margin-bottom: 20px;
}
.navbar {
  padding: 0;
}

/* ///////////////////////Profile//////////////////////// */

#profile {
  padding-bottom: 100px;
  height: 100%;
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
  font-family: "Ubuntu", sans-serif !important;
  height: 100%;
  background: url("https://image.freepik.com/free-vector/gradient-dynamic-purple-lines-background_23-2148995757.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  border-radius: 5px 5px 0 0;
}

#profile-card {
  position: static;
  border-radius: 1rem;
  top: 2rem;
  color: white;
  background-color: #6c5ce7;
  margin: 2% 8%;
  padding-top: 4%;
}

.profile-card__img {
  position: absolute;
  left: 50%;
  -webkit-transform: translateX(-50%);
  transform: translateX(-50%);
}

.profile__img {
  width: 10rem;
  height: 10rem;
  transform: translateY(-50%);
  border-radius: 50%;
  overflow: hidden;
  position: relative;
  z-index: 4;
  box-shadow: 0px 5px 50px 0px rgb(68, 142, 252),
    0px 0px 0px 7px rgba(54, 120, 241, 0.5);
}

.profile-content {
  padding-top: 8%;
}

.col {
  text-align: center;
  margin-top: 2rem;
}

label {
  font-size: large;
  font-weight: 400;
  font-family: "Ubuntu", sans-serif;
}

.edit-profile {
  margin-right: 4rem;
  margin-left: auto;
  display: block;
}
.epbtn {
  -webkit-border-radius: 5px !important;
  -moz-border-radius: 5px !important;
  border-radius: 5px !important;
  font-family: "Ubuntu", sans-serif !important;
  color: #ffffff !important;
  font-size: 20px !important;
  background: #a29bfe !important;
  padding: 10px 20px 10px 20px !important;
  text-decoration: none !important;
  box-shadow: rgba(0, 0, 0, 0.16) 0px 1px 4px !important;

  margin-left: 230px;
}

.epbtn:hover {
  background: white !important;
  color: #0984e3 !important;
  box-shadow: rgba(0, 0, 0, 0.06) 0px 2px 4px 0px inset !important;
}
.rooms {
  padding-bottom: 3rem;
  margin-top: 60px;
  box-shadow: rgba(50, 50, 93, 0.25) 0px 50px 100px -20px,
    rgba(0, 0, 0, 0.3) 0px 30px 60px -30px;
}

.room-heading {
  padding-left: 13rem;
  font-weight: 400;
  color: #fff;
  margin-top: 4rem
}

.box {
  max-width: 40rem;
  margin: 3.125rem auto;
  /* background: white; */
  font-weight: 400;
  border-radius: 20px;
  box-shadow: rgba(50, 50, 93, 0.25) 0px 50px 100px -20px,
    rgba(0, 0, 0, 0.3) 0px 30px 60px -30px;
  text-align: center;
  padding: 25px 0 25px 0;
  background-color: #a29bfe;
}

.box-profile {
  color: white;
  border-radius: 25px;
  width: 75%;
  margin-left: 150px;
  margin-top: 60px;
  padding: 0 0 25px 0;

  box-shadow: rgba(50, 50, 93, 0.25) 0px 50px 100px -20px,
    rgba(0, 0, 0, 0.3) 0px 30px 60px -30px;
  background-color: #a29bfe;
  margin-bottom: 80px;
}

.col-md-12 {
  margin-bottom: 1rem;
}

.label {
  margin-top: 35px;
}
.item {
  min-height: 70px;
  display: flex;
  align-items: center;
  border-bottom: 1px solid #f1f1f1;
}

/* /////////////Responsive */

@media only screen and (max-width: 900px) {
  /* .rooms{
    padding-left: ;
  } */

  .room-heading {
    padding-left: 5%;
    font-size: 1.5rem;
  }

  .profile__img {
    width: 6rem;
    height: 6rem;
  }

  .edit-profile {
    margin-right: 1rem;
  }
}

/* ////////////////////Create room */
/* 



.member-list {
  margin-left: 4rem;
} */

.create-room {
  font-family: "Montserrat", sans-serif;
}

/* .room-creation{
  background: url("./assets/5559852.jpg");
} */

.form-input {
  border-radius: 5px;
  border: none;
  margin: 20px 0 20px 45px;
  background-color: #a29bfe;
  padding-left: 10px;
  /* margin-left: 70px; */
  padding-top: 5px;
  width: auto;
  padding-bottom: 5px;
  color: #fff;
  /* font-family: 'Ubuntu', sans-serif; */
}

.room-plate {
  background-color: #6c5ce7;
  border-radius: 10px;
  margin-left: 70px;
  /* text-align: center; */
  width: 90%;

  padding-bottom: 50px;
  margin-bottom: 70px;
  box-shadow: rgba(50, 50, 93, 0.25) 0px 50px 100px -20px,
    rgba(0, 0, 0, 0.3) 0px 30px 60px -30px;
}

.btn-createroom {
  background-color: #a29bfe;
  margin: 15px 0 25px 550px;
  border-radius: 5px;
  font-size: 20px;
  height: 50px;
  padding: 0 5px 0 5px;
  font-family: "Ubuntu", sans-serif;
  color: #fff;
  border: none;
  transition: all !important;
  transition-duration: 0.3s !important;
  transition-timing-function: linear !important;
}

.btn-createroom:hover {
  background-color: #fff;
  color: #a29bfe;
}

.create-room-heading {
  position: static;
  /* margin-left: 450px; */
  padding-top: 25px;
  color: #fff;
  text-align: center;
  font-family: "Ubuntu", sans-serif;
}

.created-rooms {
  background-color: white;
  height: 200px;
  width: 200px;
  padding: 25px;
}


#btnEdit,
#btnCreate{
    display: inline-block;
    vertical-align: top;
}
