body{
    background-color: #a29bfe !important;
}

.create-room{
    font-family: "Ubuntu", sans-serif;
    color: #fff;
    background-color: #6c5ce7;
    margin-top:100px;
    border-radius: 15px;
    padding-bottom: 15px;
    box-shadow: rgba(0, 0, 0, 0.09) 0px 2px 1px, rgba(0, 0, 0, 0.09) 0px 4px 2px, rgba(0, 0, 0, 0.09) 0px 8px 4px, rgba(0, 0, 0, 0.09) 0px 16px 8px, rgba(0, 0, 0, 0.09) 0px 32px 16px;
    width: 50%;
}

.nav-rendevous{
    background-color: #6c5ce7!important;
    font-family: "Ubuntu";
    font-size: 20px;
    height:50px;
    box-shadow: rgba(0, 0, 0, 0.56) 0px 22px 70px 4px;
}

.icons{
    align-items: center;
    margin-right: 0px;
    width: 500px;
    text-align: center;
    margin-left: 85px;
}

.icon{
    margin: 0 10px 0 10px;
}

.icon:hover{
    box-shadow: rgba(50, 50, 93, 0.25) 0px 30px 60px -12px inset, rgba(0, 0, 0, 0.3) 0px 18px 36px -18px inset;
}

.chat{
    background-color: #6c5ce7 !important;
    font-family: "Ubuntu";
    margin-top:0 !important;
    border-radius: 15px;
}


.chat-col{
    right: -100vw;
    bottom: 0;
    top: 0px;
    z-index: 1000;
    position: fixed;
    color: #fff;
    padding-right: 5px;
    padding-left: 5px;
    padding-bottom: none;
    padding-top: 15px;
    height: 650px;
}

.chat-col.chat-opened {
    right: 0;
    overflow-y: auto;
    overflow-x: hidden;
    transition: all 0.3s ease !important;
    -webkit-transition: all 0.3s ease !important;
    -moz-transition: all 0.3s ease !important;
}

#chat-messages{
    height: 70vh;
    margin-bottom: 20px;
    overflow-x: hidden;
    overflow-y: auto;
    scrollbar-width: none; /* Firefox */
    -ms-overflow-style: none;  /* IE 10+ */
}

#chat-messages::-webkit-scrollbar {
    width: 0px;  /* remove scrollbar space */
    background: transparent;
}

.chat-box{
    bottom: 20px;
    right: 0;
    width: 80%;
    border-radius:15px !important;
    position: absolute;
    border: 0;
    border-top: 1px groove white;
    border-left: 1px groove white;
    font-size: small;
}

.send{
    background-color: #a29bfe !important;
    border-radius: 15px !important;
    bottom:20px;
}

.chat-box::placeholder{
    font-size: small;
    font-family: "Ubuntu";
    font-weight: lighter;
    
}

.chat-box,
.chat-box:focus{
    resize: none !important;
    box-shadow: none !important;
}

.chat-row{
    height: 80%;
    overflow-x: scroll;
}

.main{
    padding-top: 0px;
}


.remote-video{
    
    /* margin-left: 100px; */
    max-height: 90vh;
    background-color: black;
    border-radius: 15px;
    box-shadow: rgba(0, 0, 0, 0.09) 0px 2px 1px, rgba(0, 0, 0, 0.09) 0px 4px 2px, rgba(0, 0, 0, 0.09) 0px 8px 4px, rgba(0, 0, 0, 0.09) 0px 16px 8px, rgba(0, 0, 0, 0.09) 0px 32px 16px;
}


.remote-video-controls{
    position:absolute;
    bottom: 0px;
    background-color:rgba(0, 0, 0, 0.5);
    z-index:300000;
    padding: 10px;
    width: 100%;
    text-align: center;
    visibility: hidden;
}



.remote-video:hover + .remote-video-controls,
.remote-video-controls:hover{
    visibility: visible;
}


.local-video{
    bottom: 50px;
    left: 0px;
    position: fixed;
    width:15vw;
    border-radius:20px;

}


.mirror-mode{
    -ms-transform: scaleX(-1);
    -moz-transform: scaleX(-1);
    -webkit-transform: scaleX(-1);
    transform: scaleX(-1);
}


.sender-info{
    font-size: smaller;
    margin-top: 5px;
    font-family: "Ubuntu";
    align-self: flex-end;
}


.msg{
    font-weight: 400;
    font-size: 12px;
    color: black;
    background-color: wheat;
}


.chat-card{
    border-radius: 6px;
}


.btn-no-effect:focus{
    box-shadow: none;
}

.very-small{
    font-size: 6px !important;
}


#close-single-peer-btn {
    position: fixed;
    top: 0;
    text-align: center;
    background: rgba(0, 0, 0, 0.5);
    color: #f1f1f1;
    border-radius: 0%;
    z-index: 100;
}


.pointer{
    cursor: pointer;
}


.record-option{
    height: 200px;
    border-radius: 10%;
    border: 1px solid #17a2b8;
    cursor: pointer;
    padding: 10px;
    vertical-align: middle;
}


.custom-modal {
    display: none;
    position: fixed;
    z-index: 10000;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
}


.custom-modal-content {
    background-color: #fefefe;
    margin: 15% auto;
    padding: 20px;
    border: 1px solid #17a2b8;
    width: 80%;
}


@keyframes animatetop {
    from {top: -300px; opacity: 0}
    to {top: 0; opacity: 1}
}


@media only screen and (max-width:767px){
    .chat-col{
        right: -100vw;
        width: 100vw;
        z-index: 99999;
        transition: 0.3s;
        top: 47px;
    }
  
    .chat-opened::-webkit-scrollbar {
        display: none;
    }

    #chat-messages{
        height: 60vh;
    }

    .chat-box{
        bottom: 90px;
        margin-bottom: 0px;
    }
    
    .card-sm{
        max-width: 100%;
        min-width: 50%;
    }


    .local-video{
        width:40vw;
    }
}


@media (min-width:768px){
    .card{
        background-color: #a29bfe ;
        width: 50%;
        z-index: 1000;
        border: none;
        outline: none;
        box-shadow: rgba(0, 0, 0, 0.09) 0px 2px 1px, rgba(0, 0, 0, 0.09) 0px 4px 2px, rgba(0, 0, 0, 0.09) 0px 8px 4px, rgba(0, 0, 0, 0.09) 0px 16px 8px, rgba(0, 0, 0, 0.09) 0px 32px 16px;
    }
}
